*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 5vh;
    margin: 4vh;
    padding: 4vh;
}
h1{
    font-size: 25px;
}
h3{
    font-weight: 500;
}
p{
    font-size: 20px;
}

.first{
    background-color: #E9DFFF;
    border-radius: 25px;
    padding: 6vh;
}
.second{
    display: grid;
    grid-template-rows: auto;
    gap: 6vh;
}
.second-1{
    border-radius: 25px;
    padding: 6vh;
    background-color: #050505;
    color: white;
}
.second-2{
    display: grid;
    grid-template-columns: 0.5fr 0.6fr;
    gap: 2vh;
}
.second-2-a>p , .second-2-b>p{
    font-size: 14px;
}
.second-2-a>h1 , .second-2-b>h1{
    font-size: 20px;
}
.second-2-a{
    border-radius: 25px;
    padding: 2vh;
    background-color: #F4E0F0;
}
.second-2-b{
    background-color: #F2F4F6;
    border-radius: 25px;
    padding: 2vh;
}
.third{
    display: grid;
    grid-template-rows: auto;
    gap: 6vh;
}
.third-1{
    background-color: #DCF0F2;
    border-radius: 25px;
    padding: 6vh;
}
.third-2{
    background-color: #FDEBDD;
    border-radius: 25px;
    padding: 6vh;
}